<ng-template appPlaceholder></ng-template> <!--a directive for marking a position in dom. not rendered but remembered intenally by angular -->
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h4>Login | Signup</h4>
        <br>
        <div *ngIf="error" class="alert alert-danger">
            <h4>{{error}}</h4>
        </div>
        <!-- <app-alert-modal [message]="error" *ngIf="error" (close)="onClose()"></app-alert-modal> -->
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form *ngIf="!isLoading" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" ngModel name="password" required minlength="6">
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign up'}}</button> |
                <button class="btn btn-primary" type="button" (click)="onSwitchModes()">Switch to {{isLoginMode ? 'Signup' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>